@use "sass:color";
@import "style/theme.scss";

.bar {
  margin: 10px 20px 0px 20px;
  font-size: 10pt;

  .box {
    min-height: 30px;
    padding: 10px 15px;

    color: $text;

    .workspaces {
      .workspace {
        border: solid 2px $text;
        min-width: 0.8rem;
        min-height: 0.8rem;
        transition: min-width 0.25s ease-out;

        &.active {
          background-color: $border;
          min-width: 1.5rem;
        }

        &:hover {
          background-color: $border;
          transition: 100ms linear;
        }
      }
    }
  }

  .sep {
    margin: 0.5rem 1rem;
    background-color: $overlay0;
  }
}
