@use "sass:color";
@import "style/theme.scss";

.menu {
  .box {
    min-height: 300px;
    min-width: 500px;

    font-weight: 500;

    .search-box {
      min-height: 50px;

      border: 2px solid $border;
      border-radius: $border-radius;

      background-image: url("file:///home/paraskun/.walls/watchtower.png");
      background-size: cover;
      background-position: center;
    } > overlay {
      margin: 0.7rem;

      entry {
        margin: 0 0.7rem;

        outline: none;
        background: none;
        border: none;

        color: $text;
      }
    }

    scrolledwindow {
      viewport {
        box {
          margin: 0.3rem 0.7rem;
        }
      }
    }

    .btn {
      background: none;

      border: none;
      border-radius: $border-radius;
      background-color: $surface1;

      color: $text;
    }
  }
}
