@use "style/widget/Launcher.scss";
@use "style/widget/Bar.scss";
@import "style/theme.scss";

* {
  font-family: "Montserrat";
  font-weight: 700;
}

window {
  background-color: transparent;
}

.box {
  margin: 6px;

  box-shadow: 0 0 0 2px $border, 5px 5px 0 0 $border;
  border-radius: $border-radius;
  background-color: $surface0;
}

.button {
  box-shadow: none;
  border-radius: 3px;
  padding: 3px 10px;
  font-size: 14pt;

  &:hover {
    box-shadow: 0 0 0 0px $border, 2px 2px 0 0 $border;
  }
}
