[Unit]
Description=Mailbox Sync

[Service]
Type=oneshot
EnvironmentFile=/home/paraskun/.config/systemd/user/mbsync.env
ExecStart=/usr/bin/mbsync -Va

[Install]
WantedBy=default.target
