* {
  font-family: 'Roboto Mono';
  font-weight: 500;
}

window#waybar {
  background-color: #304060;
  border-radius: 7;
}

#clock {
  color: #b8c8c0;
  border-bottom: 2px solid #b8c8c0;
  padding: 5;
  padding-bottom: 10;
  margin: 5;
  margin-top: 10;
}

#language {
  color: #b8c8c0;
  padding: 5;
  margin: 5;
  margin-top: 0;
  margin-bottom: 10;
}
