* {
  font-family: 'Roboto Mono';
  font-weight: 500;
}

window#waybar {
  background: transparent;
}

#clock {
  color: #ecf2fb;
  background-color: #161b22;
  border-radius: 7;
  padding: 10 15;
  margin-top: 5;
}

#workspaces {
  margin-left: 15;
}

#workspaces button {
  color: #ecf2fb;
}

#language {
  color: #ecf2fb;
  background-color: #161b22;
  border-radius: 7;
  padding: 10 15;
  margin-top: 5;
  margin-right: 20;
}
